*{
    margin:0;
    padding: 0;
    border:1px solid red;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 2em;
    margin-top:auto;
    height: 4em;
    flex-direction: column;
    background: linear-gradient(to bottom, green, lightgreen);
}

a{
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}

nav a{
    margin-left: 1em;
    /*text-decoration: none;*/
    color:white;
    font-size: 1.7em;
    margin-top:auto;
}

nav p{
    margin-left: 1em;
    margin-bottom: auto;
    margin-top: auto;
}

nav a:visited{
    color:white;
}

header{
    position: fixed;
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, green, lightgreen);
    text-align: center;
    top:0;
    left: 0;
    z-index: 100;
}

header h1{
    margin-top:auto;
    margin-bottom: auto;
    font-family: 'Permanent Marker';
}
.principal{
    margin-top: 9em;
    height: 100%;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
form{
    border-radius: 3em;
    background-color: rgba(129, 243, 76, 0.795);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    border: 1px black solid;
}
.form_texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form_texto label{
    flex-grow: 1;
    margin-right: auto;
}

.form_texto input{
    flex-grow: 4;
    height: 1.5em;
    margin-right: 0.5em;
}

.boton{
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border:1px solid black;
    background: linear-gradient(to right, rgba(240, 108, 108, 0.774), rgba(247, 29, 66, 0.76));
    text-decoration: none;
    color:white;
}
.datosPerfil{
    margin-top: 9em;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
}



.datosPerfil img{
    width: 7em;
    height: 7em;
    border-radius: 50%;
}
.divBoton{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}