<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es-ES" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>
		<link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}">
		<title>Admin</title>
		<!-- <th:block th:replace="fragments/header :: header" /></th:block> -->
		<meta name="author" content="colano">
		<script>
		
		</script>
		<script th:src="@{/js/simple-datatables-2.1.10.min.js}"></script>
		<link th:href="@{/css/simple-datatables-2.1.10.css}" rel="stylesheet">
		<script type="text/javascript">
			const config = {
				socketUrl: "[[${session.ws}?:'']]",	// vacío indica falso
				rootUrl: "[[${session.ws}?@{/}:'']]",
				csrf: {
					name: "[[${_csrf.parameterName}]]",
					value: "[[${_csrf.token}]]"
				},
				admin: [[${session.u != null && session.u.hasRole('ADMIN')}?true:false]],
				userId: [[${session.u != null}?${session.u.id}:-1]]
			};
		</script>

		<script th:src="@{/js/stomp.js}" src="js/stomp.js" type="text/javascript"></script>
		<script th:src="@{/js/iwclientAdmin.js}" src="js/iwclientAdmin.js" type="text/javascript"></script>
	</head>
	<body class="bgwhite">
		<header>
			<nav th:replace="fragments/nav.html :: nav">
				El navegado
			</nav>
		</header>
		<div class="margintop150px bgblue">
			<div class="container bgwhite">
				<ul class="noliststyle displayflex">
					<li id="listUsers" class="bgblue brtop padding30"><a>Usuarios</a></li>
					<li id="listEvents" class="brtop padding30"><a>Eventos</a></li>
				</ul>
			</div> 
			<div id="contEvents" class="width100" hidden>
				<div class="eventCard bgwhite" th:each="event: ${allEvents}">
					<div class="cardUpperContainer">
						<img th:src="@{/img/{id}.png(id=${event.getId()})}" alt="" class="placeImage">
						<h2 th:text="${event.getName()}"></h2>
					</div>
					<div class="cardLowerContainer">
						<div>
							<div><span th:text="${event.getDescription()}"></span> Para: <span th:text="${event.getDate()}"></span> Publicada: <span th:text="${event.getPublicationDate()}"></span></div>
							<!--<button type="button" class="acceptButton">Aceptar</button>-->
							<button type="button" class="declineButton"  th:onclick="|javascript:blockEvent(__${event.getId()}__)|">Eliminar</button>
							
	   <form method="post" th:action="@{/admin/deleteUser(id=${event.getId()})}">
	   <button type="submit" class="declineButton" value="Eliminar" />
	   </form>
							<div class="tagBox">
								<!--	<span class="tag category"> Deportivo </span><span class="tag" th:each="tag: ${event.getTags()}"><span th:text="${tag.getUsername()}">Benefico</span></span>-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="contUsers" class="width100"></div>

			<!--
	   <div class="eventCard bgwhite" th:each="user: ${allUsers}">
	   <div class="cardUpperContainer">
	   <h2 id="nombre"><span th:text="${user.getUsername()}"></span></h2>
	   </div>
	   <div class="cardLowerContainer">
	   <p id="edad"><span th:text="${user.getDate_nac()}"></span></p>

	   <p id="sexo"><span th:text="${user.getSexo()}"></span></p>
	   <form method="post" th:action="@{/admin/deleteUser(id=${user.getId()})}">
	   <button type="submit" class="declineButton" value="Eliminar" />
	   </form>
	   <form method="post" th:action="@{/admin/blockUser(id=${user.getId()})}">
	   <button type="submit" class="declineButton" value="Bloquear" />
	   </form>
	   </div>
	   </div>-->
		</div>

		<footer th:replace="fragments/footer.html :: footer"> El Footer de la página </footer>
	</body>
</html>
