<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es-ES">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>
		<link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}">
		<title>Admin</title>
		<!-- <th:block th:replace="fragments/header :: header" /></th:block> -->
	</head>
	<body>
		<nav th:replace="fragments/nav.html :: nav">
			El navegador
		</nav>

		<div class="contenedorGeneral">
			<div id="contEvents" class="" hidden>

				<div class="eventCard" th:each="prd: ${allEvents}">
					<div class="cardUpperContainer">
						<img th:src="@{/img/noImage.png}" alt="" class="placeImage">
						<h2 th:text="${titulo}">Partido de Baloncesto benefico</h2>
					</div>
					<div class="cardLowerContainer">
						<div>
							<div><span th:text="${descripcion}">Description</span></div>
							<div class="tagBox">
								<span class="tag category"> Deportivo </span><span class="tag" th:each="tag: ${tags}"><span th:text="${tag}">Benefico</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="contUsers" class="">

				<div class="userCard" th:each="prd: ${allUsers}">
					<div class="cardUpperContainer">
						<h2 id="nombre"> Nombre del usuario<span th:text="${user.nombre}"> Pepito</span></h2>
					</div>
					<div class="cardLowerContainer">
						<p id="edad">Edad usuario <span th:text="${user.edad}"> 25</span></p>
						<p id="sexo">Sexo usuario <span th:text="${user.sexo}"> Hombre</span></p>
						<p id="valoracion">Valoración<span th:text="${user.valoracion}"> 3 estrellas</span></p>
					</div>
				</div>
			</div>

		</div>

		<footer th:replace="fragments/footer.html :: footer"> El Footer de la página </footer>
	</body>
</html>
