<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es-ES" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>
		<link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}">
		<title>Admin</title>
		<!-- <th:block th:replace="fragments/header :: header" /></th:block> -->
		<meta name="author" content="colano">
		<script type="text/javascript">
			const config = {
				socketUrl: "[[${session.ws}?:'']]",	// vacío indica falso
				rootUrl: "[[${session.ws}?@{/}:'']]",
				csrf: {
					name: "[[${_csrf.parameterName}]]",
					value: "[[${_csrf.token}]]"
				},
				admin: [[${session.u != null && session.u.hasRole('ADMIN')}?true:false]],
				userId: [[${session.u != null}?${session.u.id}:-1]]
			};
		</script>

		<script th:src="@{/js/stomp.js}" src="js/stomp.js" type="text/javascript"></script>
		<script th:src="@{/js/iwclientAdmin.js}" src="js/iwclientAdmin.js" type="text/javascript"></script>
		<script th:src="@{/js/admin.js}" src="js/admin.js" type="text/javascript"></script>
	</head>
	<body class="bgwhite">
		<header>
			<nav th:replace="fragments/nav.html :: nav">
				El navegado
			</nav>
		</header>
		<div class="margintop150px bglightgrey height80">
			<div class="container bgwhite">
				<ul class="noliststyle displayflex" id="menuDisplayE">
					<li id="listUsers" class="bglightgrey bgdarkgrey brtop padding30" data-action="updateUsers" data-id="admin/userlist">Usuarios</li>
					<li id="listTags" class="brtop bgdarkgrey padding30" data-action="updateTags" data-id="admin/taglist">Tags</li>
				</ul>
			</div>

			<input placeholder="para buscar pulsa enter" id="textS" data-id="admin/userlist" type="text" name="title" />

			<div id="contUsers" class="width100 displayflex flexwrap"></div>
		</div>

		<footer th:replace="fragments/footer.html :: footer" class="heigth10"> El Footer de la página </footer>
	</body>
</html>
