<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<title>Busqueda</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen">
		<script type="text/javascript">
			const config = {
				socketUrl: "[[${session.ws}?:'']]", // vacío indica falso
				rootUrl: "[[${session.ws}?@{/}:'']]",
				csrf: {
					name: "[[${_csrf.parameterName}]]",
					value: "[[${_csrf.token}]]"
				},
				admin: [[${session.u != null && session.u.hasRole('ADMIN')}?true:false]],
				userId: [[${session.u != null}?${session.u.id}:-1]]
			};
		</script>

		<script th:src="@{/js/stomp.js}" src="js/stomp.js" type="text/javascript"></script>
		<script th:src="@{/js/iwclientAdmin.js}" src="js/iwclientAdmin.js" type="text/javascript"></script>
		<script th:src="@{/js/events.js}" src="js/admin.js" type="text/javascript"></script>
		<nav th:replace="fragments/nav.html :: nav">
			El navegador
		</nav>
	</head>

	<body>
		<dialog id="msAddEvent">

			<form class="eventContainer formEvento" th:method="POST" onsubmit="return validateStrings(this)" th:action="newEvent">
				<div class="cardUpperContainer">
					<img th:src="@{/img/noImage.png}" alt="" class="eventImg">
					<div class="block">
						<input type="text" name="name" id="name" required placeholder="Nombre del evento">
						<textarea name="description" id="description" required placeholder="Descripción"></textarea>
					</div>
					<div class="block">
						<select id="category" name="category">
							<option value="">Categoría</option>
							<option th:each="c: ${category}" th:value="${c.getId()}"><span th:text="${c.getTag()}"></span></option>
						</select>
						<textarea id="tagsAll" name="tagsAll" placeholder="Pulse Enter para añadir un tag nuevo"></textarea>
					</div>
				</div>

				<div class="cardLowerContainer">
					<div>
						<p>Seleccione los campos que desea mantener en privado hasta que el usuario se une al evento</p>
						<div class="margin">
							<input type="checkbox" name="isHiddenDate" id="isHiddenDate">Fecha: <input type="date" name="date" id="date" required /> </input>
						</div>
						<div class="margin">
							<input type="checkbox" name="isHiddenDirection" id="isHiddenDirection">Dirección: <input type="text" name="location" id="location" required /></input>
						</div>
					</div>
					<div>
						<select id="agePreference" name="agePreference">
							<option value="">Edad de los participantes</option>
							<option value="18-24">18 - 24 años</option>
							<option value="25-29">25 - 29 años</option>
							<option value="30-39">30 - 39 años</option>
							<option value=">40">mayores de 40 años</option>
						</select> <select id="genderPreference" name="genderPreference">
							<option value="">Genero preferido</option>
							<option value="Femenino">Femenino</option>
							<option value="Masculino">Masculino</option>
						</select>
					</div>
					<div class="blockButtons">
						<div class="marginAuto">
							<button type="submit" class="button acceptButton" name="action"><span>Crear</span></button>
						</div>
					</div>
				</div>
			</form>
		</dialog>
		<button id="show" onclick="document.getElementById('msAddEvent').showModal()">Mostrar</button>
		<form id="formSearch">
			<label>Título o Descripción: </label><input placeholder="Titulo o descripcion a Buscar" id="textS"  type="text" name="title" />
			<label>Lugar: </label><input placeholder="En un lugar concreto" id="locS"  type="text" name="title" />
			<label>Desde: </label><input type="date" name="date" id="dateFS" />
			<label>Hasta: </label><input type="date" name="date" id="dateTS" />
			<select id="ageS" name="ageS" th:readonly="${viewEvent}">
				<option value="">Edad de los participantes</option>
				<option value="18-24">18 - 24 años</option>
				<option value="25-29">25 - 29 años</option>
				<option value="30-39">30 - 39 años</option>
				<option value=">40">mayores de 40 años</option> 
			</select>
			<select id="genderS" name="genderS" th:readonly="${viewEvent}">
				<option value="">Genero preferido</option>
				<option value="Femenino">Femenino</option>
				<option value="Masculino">Masculino</option>
			</select>
			<label>Buscar en: </label><select id="tagS" name="category">
				<option value="" selected >todas las categoria</option>
				<option th:each="categories: ${category}" th:value="${categories.getTag()}"><span th:text="${categories.getTag()}"></span></option>
			</select>
			<!--Desplegable-->
			<button id="search" type="button" class="advanceSearch">Buscar</button>

		</form>
		<main id="events">
			<div th:each="evento: ${event}" class="eventCard">
				<a th:href="@{/event/{id}(id=${evento.getId()})}">
					<div class="cardUpperContainer">
						<img th:src="@{/img/noImage.png}" alt="" class="placeImage">
						<h2><span th:text="${evento.getName()}"></span>
						</h2>
					</div>
					<div class="cardLowerContainer">
						<div>
							<div><span th:text="${evento.getDescription()}">Description</span></div>
							<div class="tagBox">
								<!-- <span class="tag category" th:text="${}"> Deportivo </span>--><span class="tag" th:each="tag: ${evento.getTags()}"><span th:text="${tag.getTag()}">Benefico</span></span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</main>
		<footer th:replace="fragments/footer.html :: footer"> El Footer de la página </footer>
	</body>

</html>
