<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Busqueda</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" media="screen">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen">
    <nav th:replace="fragments/nav.html :: nav">
        El navegador
    </nav>
</head>

<body>
    <form th:action="@{/event/search}" method="GET">
        <input type="search" name="title" /> <button type="submit" class="search">Buscar</button>
    </form>
    <div th:each="evento: ${event}" class="eventCard">
        <div class="cardUpperContainer">
            <img th:src="@{/img/noImage.png}" alt="" class="placeImage">
            <h2><span th:text="${evento.getName()}"></span> <a th:href="@{/event/{id}(id=${evento.getId()})}" style="color:green"> Go</a>
            </h2>
        </div>
        <div class="cardLowerContainer">
            <div>
                <div><span th:text="${evento.getDescription()}">Description</span></div>
                <div class="tagBox">
                    <!-- <span class="tag category" th:text="${}"> Deportivo </span>--><span class="tag" th:each="tag: ${evento.getTags()}"><span th:text="${tag.getTag()}">Benefico</span></span>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer.html :: footer"> El Footer de la página </footer>
</body>

</html>