<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Evento</title>
		<!--<link rel="stylesheet" th:href="@{/css/styles.css}" />-->
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<script th:src="@{/js/utils.js}" src="js/utils.js" type="text/javascript"></script>
	</head>

	<body>
		<nav th:replace="fragments/nav.html :: nav">Nav goes here</nav> 
		<div th:fragment="infoVEvent">
			<form class="eventContainer formEvento" method="POST" onsubmit="return validateStrings(this)" th:action="@{/event/newEvent}">
				<div class="cardUpperContainer">
					<img th:src="@{/img/noImage.png}" alt="" class="eventImg">
					<div class="block">
						<input type="text" name="name" id="name" required placeholder="Nombre del evento" th:readonly="${viewEvent}" th:value="${event?.getName()}">
						<textarea name="description" id="description" required placeholder="Descripción" th:readonly="${viewEvent}" th:text="${event?.getDescription()}"></textarea>
					</div>
					<div class="block">
						<select id="category" name="category" required th:readonly="${viewEvent}">
							<option value="">Categoría</option>
							<option th:each="c: ${categories}" th:value="${c.getId()}" th:selected="${categoryId} == ${c.getId()}"><span th:text="${c.getTag()}"></span></option>
						</select>
						<textarea id="tagsAll" name="tagsAll" placeholder="Pulse Enter para añadir un tag nuevo" th:readonly="${viewEvent}" th:text="${tags}"></textarea>
					</div>
				</div>

				<div class="cardLowerContainer">
					<div>
						<p>Seleccione los campos que desea mantener en privado hasta que el usuario se une al evento</p>
						<div class="margin">
							<input type="checkbox" th:hidden="${viewEvent}">Fecha: <input type="date" name="date" id="date" required th:readonly="${viewEvent}" th:value="${date}"/> </input>
						</div>
						<div class="margin">
							<input type="checkbox" th:hidden="${viewEvent}">Dirección: <input type="text" name="location" id="location" required th:readonly="${viewEvent}" th:value="${event?.getLocation()}"/></input>
						</div>
					</div>
					<div>
						<select id="agePreference" name="agePreference" th:readonly="${viewEvent}">
							<option value="">Edad de los participantes</option>
							<option value="18-24" th:selected="${#strings.equals(event?.getAgePreference(), '18-24')}">18 - 24 años</option>
							<option value="25-29" th:selected="${#strings.equals(event?.getAgePreference(), '25-29')}">25 - 29 años</option>
							<option value="30-39" th:selected="${#strings.equals(event?.getAgePreference(), '30-39')}">30 - 39 años</option>
							<option value=">40" th:selected="${#strings.equals(event?.getAgePreference(), '>40')}">mayores de 40 años</option>
						</select> <select id="genderPreference" name="genderPreference" th:readonly="${viewEvent}">
							<option value="">Genero preferido</option>
							<option value="Femenino" th:selected="${#strings.equals(event?.getGenderPreference(), 'Femenino')}">Femenino</option>
							<option value="Masculino" th:selected="${#strings.equals(event?.getGenderPreference(), 'Masculino')}">Masculino</option>
						</select>
					</div>
					<div th:if="${newEvent}" class="marginAuto"><button type="submit" class="acceptButton">Crear</button></div>
				</div>
			</form>
		</div>
		<footer th:replace="fragments/footer.html :: footer"> Footer goes here </footer>
	</body>

</html>
