<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Moderar</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" media="screen">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen">
    <nav th:replace="fragments/nav.html :: nav">
        El navegador
    </nav>
</head>

<body>

    <div>

        <div th:each="element: ${listnum}" class="eventCard">
            <div class="cardUpperContainer">
                <img th:src="@{/img/noImage.png}" alt="" class="placeImage">
                <h2><span th:text="${titulo}"></span>
                </h2>
            </div>
            <div class="cardLowerContainer">
                <div>
                    <div><span th:text="${descripcion}"></span></div>
                    <div class="tagBox">
                        <span class="tag" th:each="tag: ${tags}"><span th:text="${tag}">aliquam</span></span>
                    </div>
                </div>
                <div>
                    <button type="button" class="acceptButton">Aceptar</button>
                    <button type="button" class="declineButton">Rechazar</button>
                </div>
            </div>
        </div>



    </div>


    <footer th:replace="fragments/footer.html :: footer"> El Footer de la página </footer>
</body>

</html>