<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es-ES">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>
        <link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}">
        <title>Mensajes</title>
        <!-- <th:block th:replace="fragments/header :: header" /></th:block> -->
    </head>
    <body>
        <nav th:replace="fragments/nav.html :: nav">
            El navegador
        </nav>

        <div class="contenedorGeneral">
            <div class="contenedorContactos">
                <div class="contenedorContacto" th:each="contacto: ${contactos}">
                    <button class="bContacto" th:id="${contacto.id}" th:attr="data-id=${contacto.id}" th:text="${ contacto.username }">Pepe</button>
                </div>
            </div>
            <div class="contenedorMensajes">
                <form class="escribirMensaje" id="FormMessage" th:action="@{/messages/addMessage}" method="POST">
                    <textarea id="textMessageForm" class="mensaje" required></textarea>
                    <input type="submit" id="botonFormMessage" class="botonMensaje"name="boton" value="enviar">
                </form>
                <div class="mensajes" id="M">
                    
                    


                </div>
                <div class="contactoMensaje" th:if="${contacto}">
                    <p th:text="${contacto.getUsername()}"></p>
                </div>
            </div>
        </div>

        <script type="text/javascript">
			const config = {
                usuario: "[[${session.u.username}]]",
				socketUrl: "[[${session.ws}?:'']]",	// vacío indica falso
				rootUrl: "[[${session.ws}?@{/}:'']]",
				csrf: {
					name: "[[${_csrf.parameterName}]]",
					value: "[[${_csrf.token}]]"
				},
			};
        </script>
        <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
        <script type="text/javascript" th:src="@{/js/iwclient.js}"></script>
        <script type="text/javascript" th:src="@{/js/messageClient.js}"></script>
        <footer th:replace="fragments/footer.html :: footer"> El Footer de la página </footer>
    </body>
</html>