<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<title>Insert title here</title>
</head>
<body>
	<div class="eventCard">
            <div class="cardUpperContainer">
                <img th:src="@{/img/noImage.png}" alt="" class="placeImage">
                <h2><span th:text="${titulo}"></span>
                </h2>
            </div>
            <div class="cardLowerContainer">
                <div>
                    <div><span th:text="${descripcion}"></span></div>
                <div class="tagBox">
                    <span class="tag" th:each="tag: ${tags}"><span th:text="${tag}">aliquam</span></span>
                </div>
                </div>
                <div>
                    <button type="button" class="acceptButton">Aceptar</button>
                    <button type="button" class="declineButton">Rechazar</button>
                </div>
            </div>
        </div>
</body>
</html>