<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Moderar</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" media="screen">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen">
    <script type="text/javascript" th:src="@{/js/ajax-client.js}"></script>
    <script type="text/javascript"> 
		    const config = {
		    		apiUrl: "[[${session.apiUrl}]]",
		    		csrf: {
		    			name: "[[${_csrf.parameterName}]]",
		    			value: "[[${_csrf.token}]]"
		    		}
		    	};
    </script>
    <meta name="author" content="GasanNazer">
    <nav th:replace="fragments/nav.html :: nav">
        El navegador
    </nav>
</head>

<body>

    <div>

        <div th:each="element: ${listnum}" class="eventCard">
            <div class="cardUpperContainer">
                <img th:src="@{/img/noImage.png}" alt="no image" class="placeImage">
                <h2><span th:text="${element.getName()}"></span>
                <span th:text="${element.getId()}"></span>
                
                </h2>
            </div>
            <div class="cardLowerContainer">
                <div>
                    <div><span th:text="${element.getDescription()}"></span></div>
                    <div class="tagBox">
                        <span class="tag" th:each="tag: ${element.getTags()}"><span th:text="${tag.getTag()}">aliquam</span></span>
                    </div>
                </div>
                <div>
                    <button id="moderatorAceptEventBtn" type="button" class="acceptButton" th:onclick="'javascript:aceptEvent(' + ${element.getId()} + ');'">Aceptar</button>
                    <button id="moderatorRejectEventBtn" type="button" class="declineButton" th:onclick="'javascript:rejectEvent(' + ${element.getId()} + ');'">Rechazar</button>
                </div>
            </div>
        </div>



    </div>


    <footer th:replace="fragments/footer.html :: footer"> El Footer de la página </footer>
</body>

</html>