<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css"> 
    <link rel="shortcut icon" type="image/png" th:href="@{/img/icon.png}">
    <title>Registro</title>
  <!--    <th:block th:replace="fragments/header ::header" />   </th:block> -->
</head>

<body>

    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>
  
    <div class="principal">
        <div class="datosPerfil">
         <img th:src="@{/img/noImage.png}">   <!-- "@{/user/{id}/photo(id=${u.id})}" -->            
            <div class="datos_texto">
                <h2 id="nombre"> <span th:text="${user.firstName} "></span></h2>      
                <p id="edad"><span th:text="${user.birthDate}"></span></p>	   
                <p id="sexo"><span th:text="${user.gender}"></span></p>	 
           <!-- <p id="valoracion">Media de valoraciones<span th:text="${valoracion}"></span></p>  --> 
            </div>
        </div>
        <!-- Este div solo si es tu perfil
        <div class="divBoton" th:if="(${session.u.id} eq ${user.getId()})">
            	<a class="boton" id="Modificar" th:href="@{/user/{id}/modificarPerfil(id=${u.id})}">Modificar perfil</a>
        	</div>
        
         -->
        <div class="yourProfile">
        	<div class="intereses_usuario">
       		    <h2 class="centrado">Intereses:</h2>
        	    <ul class="listaIntereses">
             	<!--   <li th:each="tag: ${user_tags}"> -->
                <!-- 	    <span th:text="${tag.getTag()}">tag</span> 
              	  </li>  -->
          		</ul>
       		</div>
       			<div class="events_usuario">
       		    <h2 class="centrado">Eventos inscritos:</h2>
        	    <ul class="listaEventos">
             	<!--   <li th:each="e: ${user_tags}"> -->
                <!-- 	    <span th:text="${e.getName()}">event</span> 
              	  </li>  -->
          		</ul>
       		</div>
       			<div class="comentarios_usuario">
       		    <h2 class="centrado">Comentarios recibidos:</h2>
        	    <ul class="listaComentarios">
             	<!--   <li th:each="coment: ${user.getReceivedEvaluation()}"> -->
                <!-- 	    <span th:text="${coment.getReview()}">coment</span> 
              	  </li>  -->
          		</ul>
       		</div>
        </div>
       
	</div>
	
    
        

 <!--
       
   --> 
         
<!-- 

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>
 -->
</body>

</html>