<div th:fragment="infoEvent" class="flex50">
	<h2>Info</h2>
</div>
<div th:fragment="messages" class="flex50">
	<h2>Mensajes</h2>
	<div class="mensajes" id="M">asasas</div>
	<!--@{/event/nm/{id}(id=${event.id})}-->
	<form id="contentMess"  class='escribirMensaje'>
		<textarea name='textoMensaje' id='texto' class='mensaje' required></textarea>
		<input id='sendMessage' type='button' class='botonMensaje' name='boton' value='enviar'>
	</form>

</div>
<div th:fragment="users" class="flex50">
	<h2>Usuarios</h2>
	<div id="contUsers"></div>

</div>
<div th:fragment="valorations" class="flex50">
	<h2>Valorations</h2>
	<div id="contEvaluations"></div>
	<form id="contentVal"  class='escribirMensaje'>
		<input name='textoMensaje' id='texto' class='mensaje' required />
		<input id='sendValuation' type='button' class='botonMensaje' name='boton' value='enviar'>
	</form>
</div>
