<div th:fragment="infoEvent" class="flex50">
	<h2>Info</h2>
</div>
<div th:fragment="messages" class="flex50">
	<h2>Mensajes</h2>
	<div class="mensajes" id="M">asasas</div>
	<form class="escribirMensaje" action="" method="POST">
		<textarea name="textoMensaje" id="texto" class="mensaje" required></textarea>
		<input type="submit" class="botonMensaje" name="boton" value="enviar">
	</form>
</div>
<div th:fragment="users" class="flex50">
	<h2>Usuarios</h2>
	<div id="contUsers"></div>

</div>
<div th:fragment="valorations" class="flex50">
	<h2>Valorations</h2>
	<div id="contEvaluations"></div>
</div>
