<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="">
            <div class="row">
                <div class="copyright">
                    <p>
                        Copyright &copy; 2020 - Marina Payo Rubio ,  Enrique Miguel Torrijos Gabriel, Gassan Nazer,  Veronika Yankova, Mercedes Herrero Fernandez, Carlos Olano del Pozo.
                    </p>
                    <p>
                        Icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a>
                    </p>
                </div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="https://informatica.ucm.es/" target="_blank">
                                <img id="imagenlarga" src="/img/fdi.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/MaPayo/MatchGo" target="_blank">
                                    <img id= imagenNormal src="/img/github.jpg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>